<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ✅ Permissão necessária para acessar o Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SaloonApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_saloon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaloonProjeto">

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.CadastroActivity" />
        <activity android:name=".activities.IntroActivity" />
        <activity android:name=".activities.ClienteActivity" />
        <activity android:name=".activities.SalaoActivity" />

    </application>

</manifest>
